body {
    background-image: url('./images/bg-intro-mobile.png');
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    margin: 5.5em 2em 2em 2em;
    text-align: center;
}

#header, #ad {
    color: white;
}